@model Mobility_Assignment_MVC.Models.Person
<div class="border p-3">
    <div class="row">
        <h2>Delete Person</h2>
        <p>Please enter the user's name to confirm deletion:</p>
        <form asp-action="Delete" method="post">
            <div class="form-group">
                <label asp-for="First_Name">First Name:</label>
                <input asp-for="First_Name" name="firstName" type="text" class="form-control" required>
            </div>
            <div class="form-group">
                <label asp-for="Last_Name">Last Name:</label>
                <input asp-for="Last_Name" name="lastName" type="text" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
</div>