@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <a class="btn btn-primary" asp-area="" asp-controller="LinkEntity" asp-action="Add">Record Add</a>
    <a class="btn btn-info" asp-area="" asp-controller="LinkEntity" asp-action="List">Record List</a>
    <a class="btn btn-danger" asp-area="" asp-controller="LinkEntity" asp-action="Delete">Record Delete</a>
    <a type="button" class="btn btn-success">Record Search</a>
   @*  <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-light">Light</button>
    <button type="button" class="btn btn-dark">Dark</button>

    <button type="button" class="btn btn-link">Link</button> *@
</div>

