
 @model Mobility_Assignment_MVC.Models.Person

<div class="border p-3">
    <div class="row">
        <h2>Search</h2>

        <form asp-action="Search" method="post">
            <div class="form-group">
                <label for="searchTerm">Search Term:</label>
                <input type="text" id="searchTerm" name="searchTerm" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
</div>