@* @model List<Mobility_Assignment_MVC.Models.Person>
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Search Results</h2>
        </div>
    </div>

    <br /><br />
    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width: 100%">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td>@obj.First_Name</td>
                        <td>@obj.Last_Name</td>
                        <td>@obj.Age</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Data Exists!!</p>
    }
</div>

 *@

 @model Mobility_Assignment_MVC.Models.Person

<div class="border p-3">
    <div class="row">
        <h2>Search</h2>

        <form asp-action="Search" method="post">
            <div class="form-group">
                <label for="searchTerm">Search Term:</label>
                <input type="text" id="searchTerm" name="searchTerm" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
</div>