
@{
    ViewData["Title"] = "Web Service ";
}

<div class="container">
    <a class="btn btn-primary" asp-area="" asp-controller="LinkEntity" asp-action="WebServiceUIAdd">Record Add</a>
    <a class="btn btn-info" asp-area="" asp-controller="LinkEntity" asp-action="WebServiceUIList">Record List</a>
    <a class="btn btn-danger" asp-area="" asp-controller="LinkEntity" asp-action="WebServiceUIDelete">Record Delete</a>
    <a type="button" class="btn btn-success asp-controller=" LinkEntity" asp-action="WebServiceUISearch">Record Search</a>

</div>

